.git
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
__pycache__
*.py[cod]
.github
.vercel
coverage
dist
build
out
nginx
DEPLOYMENT.md
BIMSpect_website
bimspect-redesign-for-business.html
bimspect-pricing-updated.html
**/*:Avecto.Zone.Identifier
**/*:PG$Secure
**/*:Zone.Identifier
Dockerfile
docker-compose.yml
docker-compose.local.yml
README.md
